<html>
<head>
  <link rel="stylesheet" type="text/css" href="./public/login-css.css">
  <script type="text/javascript">
    $('.message a').click(function(){
      $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  </script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <input type="password" placeholder="New password"/>
      <input type="password" placeholder="Confirm New password"/>
      <button>login</button>
    </form>
  </div>
</div>
</body>
</html>